<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'inventory', :plugin => 'redmine_inventory_manager' %>
<% end %>
<div class="tabs">
    <ul>
        <li><%= link_to l('inventory_stock'), :action=> 'index', :class => (params[:action] == "index") ? 'selected':'' %></li>
        <li><%= link_to l('inventory_movements'), :action=> 'movements', :class => (params[:action] == "movements") ? 'selected':'' %></li>
        <li><%= link_to l('inventory_parts'), :action=> 'parts', :class => (params[:action] == "parts") ? 'selected':'' %></li>
        <li><%= link_to l('inventory_categories'), :action=> 'categories', :class => (params[:action] == "categories") ? 'selected':'' %></li>
        <li><%= link_to l('inventory_warehouses'), :action=> 'warehouses', :class => (params[:action] == "warehouses") ? 'selected':'' %></li>
        <li><%= link_to l('inventory_providors'), :action=> 'providors', :class => (params[:action] == "providors") ? 'selected':'' %></li>
        <li><%= link_to l('reports').capitalize, :action=> 'reports', :class => (params[:action] == "reports") ? 'selected':'' %></li>
    </ul>
</div>

